div.rgyPostIt {
  position: relative;
  display: inline-block;
  padding: 20px;
  margin: 5px 0;
  border: 1px solid #cdcdcc;
  border-left: 30px solid #9b9b98;
  border-bottom-right-radius: 60px 10px;
  color: #555;
  word-break: break-all;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffff88', endColorstr='#ffffc6', GradientType=1);
  transition: all 0.2s;
  -webkit-transition: all 0.2s;
  width: 250px;
  height: 175px; 
}

div.report-button {
  background-color: #f44336;
  /* Red */
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  border-radius: 5px;
  display: inline-flex;
  align-items: center;
}

div.report-button i {
  margin-right: 8px;
}

div.rgyPostIt::after {
  content: " ";
  position: absolute;
  z-index: -1;
  right: 0;
  bottom: 35px;
  width: 150px;
  height: 30px;
  background-color: rgba(0, 0, 0, 0);
  box-shadow: 2px 35px 5px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 2px 35px 5px rgba(0, 0, 0, 0.4);
  transform: matrix(-1, -0.1, 0, 1, 0, 0);
  -webkit-transform: matrix(-1, -0.1, 0, 1, 0, 0);
  -moz-transform: matrix(-1, -0.1, 0, 1, 0, 0);
  -ms-transform: matrix(-1, -0.1, 0, 1, 0, 0);
  -o-transform: matrix(-1, -0.1, 0, 1, 0, 0);
  transition: all 0.2s;
  -webkit-transition: all 0.2s;
}

div.rgyPostIt:hover {
  border-bottom-right-radius: 75px 30px;
}

div.rgyPostIt:hover::after {
  box-shadow: 2px 37px 7px rgba(0, 0, 0, 0.37);
  -webkit-box-shadow: 2px 37px 7px rgba(0, 0, 0, 0.37);
}

div.rgyPostIt > p {
  padding: 5px 0 !important;
}
/* div.rgyPostIt > p::before {
  content:"\f198";
  margin-right: 7px;
  font-weight: normal;
  font-size: 20px;  
  vertical-align: middle;
} */

div.rgyPostIt > p > a {
  color: #555;
}
