@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: 'TheJamsil5Bold';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302_01@1.0/TheJamsil5Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}
body {
  font-family: 'TheJamsil5Bold', sans-serif;
}

::-webkit-scrollbar {
  width: 10px;
  height: 0.5rem;
}

::-webkit-scrollbar-thumb {
  background-color: #6593ff;
  border-radius: 1.5rem;
  min-width: 50px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #3370ff;
}

::-webkit-scrollbar-track {
  background-color: #c7c7c7;
  border-radius: 1.5rem;
}
